{{ define "pagetitle" }}
{{- .Site.Title -}}
{{ end }}
{{ define "main" }}
<section class="slider_section position-relative">
    {{ partial "homePageSlider" . }}
</section>
<section class="service_section layout_padding ">
    <div class="container">
        <h2 class="custom_heading">Our Services</h2>
        <p class="custom_heading-text">
            We provide training and consulting services on selected technical topics.
        </p>
        <div class=" layout_padding2">
            {{ partial "serviceCardDeck" . }}
        </div>
</section>
{{ end }}